.wrapper_9 {
    background-color: var(--standart-color);
}

.footer_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    height: 190px;
    background-color: var(--light-black-color);
    margin-top: 100px;
    margin-bottom: 76px;
}

.footer_flex_item_1 {
    padding-left: 55px;
}

.footer_flex_item_1 > h3 {
    color: var(--standart-color);
    margin: 0;
    padding-top: 41px;
}

.footer_flex_item_2 {
    padding-right: 32px;
}

.mail_p {
    margin: 0;
    padding-top: 38px;
    font-size: 18px;
    color: var(--standart-color);
}

.block_email {
    display: inline-flex;
    padding-top: 9px;
}

.email_form {
    width: 423px;
    height: 50px;
    background-color: var(--email-background-color);
    border: none;
    color: var(--email-text-color);
    padding: 0;
    padding-left: 15px;
}

.button_submit {
    width: 70px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.send_img {
    padding-top: 5px;    
}

.button_submit:hover {
    background-color: var(--primary-hover-color);
}

.rules_p {
    margin: 0;
    font-size: 12px;
    color: var(--standart-color);
}

.rules_p > span {
    text-decoration: underline;
}

/* copyright */

.copyright {
    margin: 0 auto;
    text-align: center;
    max-width: 1110px;
    padding-bottom: 111px;
}

.copyright > p {
    color: var(--black-color);
    font-size: 11px;
}

.link_1 {
    color: #007DC1;
    text-decoration: underline;
}

.link_2 {
    color: #1085C5;
    text-decoration: underline;
}