.header {
    position: relative;
}

.header::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/background.png);
    opacity: 6%;
    z-index: -1;
}

.wrapper {
    position: relative;
    z-index: 1;
}

.logo {
    margin-bottom: 206px;
}

.logo h1:nth-child(odd) {
    margin: 0;
    color: var(--primary-color);    
    line-height: 86px;
}

.logo h1:nth-child(even) {
    margin: 0;
    padding-top: 9px;
    line-height: 100%;
}

.main_photo {
    position: absolute;
    width: 1082px;
    height: 525px;
    top: 55px;
    left: 299px;
    bottom: 334px;
    z-index: -1;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.intro > p {
    margin: 0;
    width: 540px;
    line-height: 160%;
    letter-spacing: -0.07px;
    position: relative;
}

.btn {
    display: block;  
    background-color: var(--primary-color);
    color: var(--standart-color);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 1px;
    max-width: 148px;
    text-align: center;
    margin-top: 25px;
    margin-left: 569px;
}

.btn:hover {
    background-color: var(--primary-hover-color);
}