@import url("./variables.css");
@import url("./header.css");
@import url("./video_block.css");
@import url("./grid_container.css");
@import url("./main_grid.css");
@import url("./footer.css");
@import url("./responsive.css");

html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.6em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--text-color);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
  
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}