:root {
    --main-color: #F5F4F0;
    --standart-color: #FFFFFF;
    --fisrt-color: #B09A81;
    --secondary-color: #FE8A02;
    --text-color: #2A2626;
    --text-color-light: #908D8B;
    --light-black-color: #42413C;
    --beige-color: #D7CCC0;
  }