.video_block {
    background-color: var(--standart-color);
    text-align: center;
}

.video_title_black,
.video_title_orange {
    margin: 0;
}

.video_title_orange {
    color: var(--primary-color);
}

.wrapper_2 > p {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 30px;
}

.p_video {
    margin: 0;
    padding-top: 27px;
}

.video {
    border: none;
    z-index: 1;
}

#rectangle{
    display:block;
    margin-top: -188px;
    width: 100%;
    height: 100px;
    background-color: var(--primary-dark);
    z-index: 0;
}