.video_block {
    background-color: var(--standart-color);
}

.wrapper_2 {
    margin: 0 auto;
    max-width: 1110px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.video_title_black,
.video_title_orange {
    margin: 0;
}

.video_title_orange {
    color: var(--primary-color);
}

.wrapper_2 > p {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 30px;
}

.video {
    border: none;
    z-index: 1;
}

#rectangle{
    display:block;
    width: 100%;
    height: 100px;
    background-color: var(--light-black-color);
    z-index: 0;
}